/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 ago 2024, 7:14:05 p. m.
    Author     : Zambrano
*/

.alert {
    -fx-font-family: 'Verdana';
    -fx-font-size: 14px;
}

.dialog-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #4a4a4a;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.label {
    -fx-text-fill: #4a4a4a;
}

.button {
    -fx-background-color: #6d4aff;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #5a3bdb;
}